.news-item-readmore-wrapper {
  width: 265x;
  padding-bottom: 0%;
  margin: 10px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.news-item-readmore-wrapper:hover {
  transform: scale(1.05); /* zoom in */
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); /* optional: enhance shadow */
}
.news-image-wrapper .news-image {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.news-title {
  font-size: 1.25rem;
  margin: 10px;
  color: #333;
font-family:Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.news-description {
  font-size: 1rem;
  color: #555;
  margin: 10px;
  
}

.btn-read-more {
  margin: 0 10px 10px 10px;
  padding: 8px 12px;
  font-size: 0.9rem;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-read-more:hover {
  text-decoration: underline;
}

.btn-go-external {
  display: inline-block;
  margin: 0 10px 10px 10px;
  padding: 8px 12px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 4px;
}

.btn-go-external:hover {
  background-color: #0056b3;
}
