/* App.css */
.news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.news-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.news-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.news-item h3 {
  font-size: 1.2rem;
  margin: 10px;
}

.news-item p {
  font-size: 1rem;
  margin: 10px;
  
}
 .spinner{
  width: 200px;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
 }